{% extends '::layout.html.twig' %}

{% block title %}{{ parent() }} Annonces -{% endblock %}

{% block body %}

    <h1>Annonces</h1>
    <hr>

    {% block platform_body %}
    {% endblock %}

{% endblock %}